body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    overflow-y: scroll;
}

.game-title {
    padding: 30px 0;
    margin: 0;
    background-color: tomato;
    color: beige;
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    border-bottom: 6px solid burlywood;
}

.wrapper {
    width: 80%;
    margin: auto;
    text-align: center;
}

.game-text {
    font-size: 1.2rem;
}

#guess-style {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: -10px;
}

#minNum,
#maxNum {
    font-size: 3rem;
    font-weight: bold;
}

#roundScore {
    font-size: 3em;
    font-weight: bold;
}

.guess-section {
    background-color: forestgreen;
    width: 100%;
    text-align: center;
    padding: 10px; 
}

#userInput-style {
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: beige;
}

input[type="text"],
button {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
button {
    background: beige;
    border: solid 1px;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 10px;
}

#guessResult,
#guessResult2 {
    color: beige;
    font-size: 1.5em;
}